<%-include('includes/head',{pageTitle:'CA - Main Page'})%>
</head>
<body class="d-flex justify-content-center align-items-center min-vh-100 bg-dark">
  <div class="d-flex align-items-center flex-column border border-warning p-5 rounded-4 bg-dark">
    <h1 class="p-3 text-warning m-0">Catholic Alarm</h1>
    <h3 class="p-3 text-warning">Main</h3>
    <p class="text-warning">Welcome! "<%=userEmail%>"</p>
    <br>
    <div class="d-flex">
      <form action="/admin" method="get" class="me-3">
        <input class="btn btn-warning text-dark" type="submit" value="To Admin Page">
      </form>
      <br>
      <form action="/setting/<%=userId%>" method="get" class="me-3">
        <input class="btn btn-warning text-dark" type="submit" value="Alarm Setting">
      </form>
      <br>
      <form action="/login/logout" method="post" class="me-3">
        <input class="btn btn-warning text-dark" type="submit" value="Logout">
      </form>
    </div>
    <br>
    <a class="link-success link-offset-2 link-underline link-underline-opacity-0" href="/manual">
      How To Use
    </a>    
    <hr class="text-warning" style="width: 110%; border: solid 1px">
    <br>
    <p class="text-warning">가톨릭대학교 공지사항</p>
    <div class="d-flex justify-content-left flex-column">
      <%for(const content of contents){%>
      <a class="link-warning link-offset-2 link-underline link-underline-opacity-0" href="<%=content.link%>">[<%=content.kind%>] <%=content.title%></a>
      <%}%>
    </div>


  </div>


  <script type="module" src="/script/setServiceWorker.js"></script>
  <script type="module" src="/script/requestNotification.js"></script>
<%-include('includes/foot')%>